.book-info {
    width: 100%;


    display: grid;
    grid-template-rows: repeat(3, auto);

    .rate-section {
        display: grid;
        grid-template-rows: repeat(2, auto);

        .border-title {
            width: 350px;
        }

        .rate {
            .stars {
                gap: 12px;
            }

            svg {
                width: 24px;
                height: 24px;
            }
        }
    }

    .info-section {
        display: grid;
        grid-template-rows: repeat(2, auto);
        margin-top: 62px;
        margin-bottom: 62px;

        .title {
            margin-bottom: 16px;
        }

        .border-title {
            width: 350px;
            height: 0px;
        }

        .info__table {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 16px 140px;
            max-height: 190px;

            .info__row {
                display: flex;
                justify-content: flex-start;
                gap: 60px;
                text-align: start;
            
                .parameter {
                    width: 130px;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: #A7A7A7;
                }

                .value {
                    max-width: 445px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #363636;
                    text-align: start;
                }
            }
        }
    }
    
    .reviews-section {

        .reviews-title {
            border: none;
            height: auto;
            margin-bottom: 0;

            &.no-reviews {
                border: none;
                height: auto;
                margin-bottom: 0;
            }

            &.border-title {
                width: 350px;
            }

            &.open {
                border-bottom: 1px solid #EBEBEB;
                height: 44px;
                margin-bottom: 16px;
            }
        }


        .review-count {
            margin-left: 6px;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: #A7A7A7;
        }

        .review-arrow {
            margin-left: 24px;

            border: none;
            background: transparent;
            cursor: pointer;

            &.open {
                transform: scaleY(-1);
            }
        }

        .reviews__button {
            width: 350px;
            margin-top: 42px;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .book-info {

        .rate-section {

            .border-title {
                width: 305px;
            }
        }

        .info-section {
            margin-top: 52px;
            margin-bottom: 52px;
    
            .border-title {
                width: 305px;
            }

            .info__table {
                gap: 16px 32px;
                max-height: 211px;
    
                .info__row {
                    gap: 30px;
                
                    .parameter {
                        width: 105px;
                        font-size: 14px;
                        line-height: 17px;
                    }
    
                    .value {
                        max-width: 170px;
                        font-size: 14px;
                        line-height: 17px;
                    }
                }
            }
        }

        .reviews-section {

            .border-title {
                width: 305px;
            }

            .reviews__button {
                width: 640px;
            }
        }

        
            
    }
}

@media screen and (max-width: 767px) {
    .book-info {

        .info-section {
            margin-top: 24px;
            margin-bottom: 42px;

            .title {
                margin-bottom: 8px;
            }
    
            .border-title {
                width: 209px;
            }


            .info__table {
                flex-wrap: nowrap;
                gap: 16px 32px;
                max-height:min-content;
    
                .info__row {
                    gap: 30px;
                
                    .parameter {
                        width: 90px;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 16px;
                    }
    
                    .value {
                        max-width: 160px;
                        font-size: 12px;
                        line-height: 16px;
                    }
                }
            }
        }

        .rate-section {

            .border-title {
                width: 288px;
            }

            .rate {
                svg {
                    width: 34px;
                    height: 34px;
                }
            }
        }

        .reviews-section {

            .border-title {
                width: 288px;
            }

            .reviews__button {
                width: 288px;
                margin-top: 20px;
            }
        }

        
            
    }
}