.lottie-loader {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    z-index: 100;
    display: none;

    justify-content: center;
    align-items: center;

    background: rgba(54, 54, 54, 0.3);
    backdrop-filter: blur(10px);

    position: absolute;
    left: 0;
    top: 0;

    &.active {
        display: flex;
    }
}