.search-icon {
    &.hidden {
        display: none;
    }
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 8px;

    width: 350px;
    height: 38px;
    padding: 7px 16px;

    box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
    border-radius: 599px;

    &.mobile {
        display: none;
        width: 288px;
        height: 32px;

        button {
            background: transparent;
            border: none;
            cursor: pointer;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &.visible{
        display: flex;
    }
}

.search-bar input {
    flex: 1 0 auto;

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #A7A7A7;
    border: none;
    caret-color: #F83600;
}

.search-bar input:focus-visible {
    outline: none;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .search-bar {
        width: 274px;
    }
}