.form-tip {
  padding-left: 12px;

  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #a7a7a7;
}

.form-tip.error {
  color: red;
}
