.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid #BFC4C9;
    height: 56px;
}

.footer__copyright {
    font-size: 16px;
    line-height: 24px;
}

@media screen and (max-width: 767px) {
    .footer {
        padding-top: 16px;
        padding-bottom: 8px;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    .footer__copyright {
        display: flex;
        flex-direction: column;

        font-size: 15px;
        line-height: 20px;
    }
}