.book-button {

    &.booked {
        background: #FFFFFF;
        border: 1px solid #BFC4C9;

        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #363636;

        &:hover {
            box-shadow: 0px 2px 5px rgba(54, 54, 54, 0.1);
            border: 1px solid #A7A7A7;
        }

        &:active {
            box-shadow: 0px 3px 4px rgba(222, 125, 11, 0.2), 0px 1px 10px rgba(249, 89, 8, 0.2);
            border: 1px solid #BFC4C9;
        }
    }

    &.issued {
        background: #F9F9FA;
        border: 1px solid #BFC4C9;
        box-shadow: none;
        cursor: auto;

        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #A7A7A7;
    }
}