.password-input {
  width: 100%;
  padding: 0 12px;

  display: flex;
  justify-content: space-between;

  background: #f9f9fa;
  border-bottom: 1px solid #bfc4c9;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;

  .isInvalid {
    border-bottom: 1px solid #f42c4f;
  }

  .password-input__type-field {
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    gap: 4px;

    &.focused {
      padding-top: 4px;
      padding-bottom: 16px;
    }
  }

  .password-input__controls {
    display: flex;
    align-items: center;
    gap: 10px;

    .password-input__success-icon {
      align-self: center;
      height: 7px;
    }

    .password-input__visibility-button {
      height: 24px;
      border: none;
      background: transparent;
      cursor: pointer;

      .password-input__visibility-icon {
        align-self: center;
        height: 24px;
      }
    }
  }
}

.password-input__input {
  width: 100%;

  background: transparent;
  border: none;
}
.password-input__input,
.password-input__input::placeholder {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #363636;
}
.password-input__input:focus {
  outline: none;
}

.password-input__label {
  display: none;

  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #a7a7a7;
}
.password-input__label.focused {
  display: inline;
}
